.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f0f0f0; */
  padding: 10px;
}

.link {
  margin: 10px 30px 10px 30px;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #ffffff;
  color: #333333;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: #ffcc00;
}

.search-bar {
  flex: 1;
  margin: 0 10px;
}

.btn {
  background-color: #333333;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #000000;
}
